<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <div class="navbar-brand text-primary">Coursera-Admin</div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      </div>
      <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Add New Course
      </button>
      <button routerLink='/login' type="button" class="btn btn-danger mx3">
        Logout
      </button>
    </div>
</nav>

<body class="img js-fullheight" [background]="image">
  <div class="maincontainer">
      <h2 class="lol text-center">Courses Offered</h2>
      <div class="input-group input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-lg">Search</span>
        <input type="text" class="form-control" [(ngModel)]="searchtext" placeholder="Search course" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      </div>
      <table class="table table-hover table-info bg-light w-100 h-200">
        <tr class="text-center text-muted">
            <th>Course_Name</th>
            <th>Author_Name</th>
            <th>Course_Level</th>
        </tr>
        <tbody>
          <tr *ngFor="let course of coursearray | filter:searchtext">
            <td>
              {{course.course_name}} {{course.id}}
            </td>
            <td>
              {{course.author}}
            </td>
            <td>
              {{course.course_level}}
            </td>
            <td>
            <button class="btn btn-outline-success mx-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="onEdit(course)">Edit</button>
            <button class="btn btn-outline-danger mx-3" (click)="onDelete(course)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>



      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add New Course</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="coursesform">

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Course ID</label>
                <input type="text" formControlName='id' class="form-control" id="exampleInputText1" aria-describedby="emailHelp">
                <div id="course_id1" class="form-text">Enter Course_ID</div>
              </div> 

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Course Name</label>
                <input type="text" formControlName='course_name' class="form-control" id="exampleInputText1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Enter Student's Full Name</div>
              </div>

              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Author</label>
                <input type="text" formControlName='author' class="form-control" id="exampleInputPassword1">
              </div>

              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Course Level</label>
                <input type="text"  formControlName='course_level' class="form-control" id="date_borrow">
              </div>

            </form> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="addCourse()">Add</button>
            <button type="button" class="btn btn-primary" (click)="onupdatecourse()">Update</button>
          </div>
        </div>
      </div>
      </div>

