<body class="js-fullheight" [background]="image">
  <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <div class="navbar-brand text-primary">Coursera-Student</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-success" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Notifications
              </a>
              <ul class="dropdown-menu bg-info text-light" *ngFor="let course of usercoursearray">
                <li><a class="dropdown-item disabled bg-info text-light" href="#">You have a few courses to learn!</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <button routerLink='/login' type="button" class="btn btn-danger mx3">
          Logout
        </button>
      </div>
  </nav>


  <div class="maincontainer">
      <h2 class="lol text-center">Courses Offered</h2>
      <div class="input-group input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-lg">Search</span>
        <input type="text" class="form-control" [(ngModel)]="searchtext" placeholder="Search course" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      </div>
      <table class="table table-hover table-info bg-light w-100 h-200">
        <tr class="text-center text-muted">
            <th>ID</th>
            <th>Course_Name</th>
            <th>Author</th>
            <th>Course_Level</th>
        </tr>
        <tbody>
          <tr *ngFor="let course of usercoursearray | filter:searchtext" class="text-center">
            <td>
              {{course.id}}
            </td>
            <td>
              {{course.course_name}}
            </td>
            <td>
              {{course.author}}
            </td>
            <td>
              {{course.course_level}}
            </td>
          </tr>
        </tbody>
      </table>

      <h3 class="text-center">Once You Find a Course You like, contact your Institution and purchase that particular course</h3>